body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(41, 73, 116);
    color:rgb(224, 214, 214);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

